@import "bourbon"

.ul-unstyled
	margin: 0
	padding: 0
	list-style: none

a
	color: black
	text-shadow: 4px 4px 4px #9e9999
	&:hover
		color: #9e9999
		text-decoration: none
		text-shadow: none
		transition: all .5s ease
